# 忽略Python字节码文件
__pycache__/
*.py[cod]
*$py.class

# 忽略Django生成的临时文件
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# 忽略数据库文件
*.sqlite3
*.sqlite3-journal

#忽略collectstatic生成的文件而在服务器自己生成
staticfiles/

# 忽略IDE和编辑器生成的文件
.vscode/
*.sublime*
*.idea/
*.egg-info/
*.egg
*.pyc
*.swo
*.swp
*.komodoproject
.project
.pydevproject
.DS_Store

# 忽略虚拟环境
.env
.venv
*env/
venv/
*env.bak/
venv.bak/

# 忽略媒体文件
media/