<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% if topic %}{{ topic.text }} - {% endif %}Django Web</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
<link rel="icon" type="image/x-icon"  href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <div class="p-5 bg-primary text-white text-center">
        <h3>重回Local站</h3>
    </div>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'learning_logs:index' %}">首页</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'learning_logs:topics' %}">学科列表</a>
                    </li>   
                </ul> 
            </div> 
        </div> <!-- 定义导航栏容器的代码到此结束 -->

        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="navbar-text me-2">Hello,{{ user.username }}.</span>
                </li>                
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="{% url 'accounts:register' %}">注册</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-nowrap" href="{% url 'accounts:login' %}">登陆</a>
                </li>
            {% endif %}
        </ul> <!--与账户相关的链接到此结束 -->
        {% if user.is_authenticated %}
            <form action="{% url 'accounts:logout' %}" method='post'>
                {% csrf_token %}
            <button name='submit' class='btn btn-outline-secondary btn-sm text-nowrap'>退出</button>
            </form>
        {% endif %}
    </nav>
    <main class="container">
        <!--
        <div class="pb-2 mb-2 border-bottom">
            {% block page_header %}{% endblock page_header %}
        </div>
        -->
        <div>
            {% block content %}{% endblock content %}
        </div>
    </main>
    
<div class="mt-5 p-4 bg-black text-white text-center">
    <p>中考2026</p>
</div>
</body>
</html>
